<!DOCTYPE html>
<html>
    <head>
        <title>Login with Google</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    </head>
    <body>
        <section class="login-block">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <form class="md-float-material form-material" action="/google-login" method="GET">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-lg btn-google btn-block text-uppercase btn-outline" value="Signup Using Google">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
