<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Manage</title>
    </head>
    <body>
        {% include '/header.html' %}
        <div class="container mt-3">
            <h2>Admin Dashboard</h2>
            <h4>{{manage_type|capitalize}}</h4>
            <table class="table">
                <thead>
                    {% if manage_type == 'user' %}
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Active</th>
                            <th>Access Right</th>
                        </tr>
                    {% elif manage_type == 'course' %}
                        <tr>
                            <th>ID</th>
                            <th>Category</th>
                            <th>Course Name</th>
                            <th>Description</th>
                            <th>Active</th>
                            <th>Icon url</th>
                            <th colspan="2">Action</th>
                        </tr>
                    {% endif %}
                </thead>
                <tbody id="table_body">
                    {% if data_list| length == 0%}
                        <tr>
                            <td colspan="7" align="center">No data available</td>
                        </tr>
                    {% else %}
                        {% for data in data_list %}
                            {% if manage_type == 'user' %}
                                <tr>
                                    <td>{{data.user_id}}</td>
                                    <td>{{data.name}}</td>
                                    <td>{{data.email}}</td>
                                    <td>{{data.active}}</td>
                                    <td>{{data.access_type}}</td>
                                </tr>
                            {% elif manage_type == 'course' %}
                                <tr id="tr_{{data._id}}">
                                    <td><a href="/manage/course/{{data._id}}">{{data._id}}</a></td>
                                    <td>{{data.category}}</td>
                                    <td>{{data.title}}</td>
                                    <td>{{data.description}}</td>
                                    <td>{{data.active}}</td>
                                    <td title="{{data.url}}" style="white-space:nowrap;">{{data.url|truncate(20, True, '...')}}</td>
                                    <td><a class="edit_course" style="cursor: pointer;"data-id="{{loop.index}}" data-category="{{data.category}}" data-active="{{data.active}}" data-course_id="{{data._id}}" data-title="{{data.title}}" data-description="{{data.description}}" data-url="{{data.url}}"><i class="fas fa-pen"></i></a></td>
                                    <td><a class="delete_course" style="cursor: pointer; color:red;" data-id="{{loop.index}}" data-category="{{data.category}}" data-course_id="{{data._id}}"><i class="fas fa-trash"></i></a></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            {% if manage_type == 'course' %}
                <div style="text-align:center;" id="add_new_course"><button >Add new course </button></div>
            {% endif %}
        </div>
    </body>
    <script>
        $(document).on("click", "#add_new_course", function (event) {
            var body_div = `
                <tr id="tr_${$("#table_body tr").length + 1}">
                    <td>Auto generate</td>
                        <td>
                            <select id="category-select_${$("#table_body tr").length + 1}" name="category">
                                <option value="">Please select a category</option>
                                <option value="AI-ML">AI-ML</option>
                                <option value="Backend">Backend</option>
                                <option value="Blockchain">Blockchain</option>
                                <option value="Business Analyst">Business Analyst</option>
                                <option value="C++">C++</option>
                                <option value="Cyber Security">Cyber Security</option>
                                <option value="Designer">Designer</option>
                                <option value="DevOps">DevOps</option>
                                <option value="Discovery">Discovery</option>
                                <option value="Finance">Finance</option>
                                <option value="Flask">Flask</option>
                                <option value="Frontend">Frontend</option>
                                <option value="HR">HR</option>
                                <option value="Marketing">Marketing</option>
                                <option value="PM">PM</option>
                                <option value="Project Management">Project Management</option>
                                <option value="Proposal Writing">Proposal Writing</option>
                                <option value="Python">Python</option>
                                <option value="QA">QA</option>
                                <option value="Quality Analyst">Quality Analyst</option>
                                <option value="Rust">Rust</option>
                                <option value="Technical Copywriter">Technical Copywriter</option>
                                <option value="Training">Training</option>
                                <option value="Training &amp; Development">Training &amp; Development</option>
                            </select>
                        </td>
                        <td><input type="text" id="title_${$("#table_body tr").length + 1}"></td>
                        <td><textarea style="height: 30px;" id="description_${$("#table_body tr").length + 1}"></textarea></td>
                        <td>
                            <select id="active_${$("#table_body tr").length + 1}">
                                <option value="True"> True</option>
                                <option value="False" selected> False</option>
                            </select>
                        </td>
                        <td><input type="url" id="url_${$("#table_body tr").length + 1}"></td>
                        <td><button data-id="${$("#table_body tr").length + 1}" class="save_course">Save</button></td>
                        <td><button data-id="${$("#table_body tr").length + 1}" class="close_course">Close</button></td>
                </tr>
            `
            $('#table_body').append(body_div);
        });

        $(document).on("click", ".close_course", function (event) {
            var id_number = $(this).data("id");
            $(`#tr_${id_number}`).remove();
        });

        function capitalizeFirstLetter(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
        }

        $(document).on("click", ".save_course", function (event) {
            var id_number = $(this).data("id");
            var form_data = new FormData();
            form_data.append("title", $(`#title_${id_number}`).val());
            form_data.append("category", $(`#category-select_${id_number}`).val());
            form_data.append("active", $(`#active_${id_number}`).val());
            form_data.append("description", $(`#description_${id_number}`).val());
            form_data.append("url", $(`#url_${id_number}`).val());
            $.ajax({
                url: '/manage/course' , // point to server-side URL
                cache: false,
                contentType: false,
                processData: false,
                data:form_data,
                type: 'POST',
                success: function (data) {
                    var body_div = `
                        <td><a href="/manage/course/${data['course_detail']['id']}">${data['course_detail']['id']}</a></td>
                        <td>${data['course_detail']['category']}</td>
                        <td>${data['course_detail']['title']}</td>
                        <td>${data['course_detail']['description']}</td>
                        <td>${capitalizeFirstLetter(data['course_detail']['active'].toString())}</td>
                        <td title="${data['course_detail']['url']}" style="white-space:nowrap;">${data['course_detail']['url'].slice(0, 20)}...</td>
                        <td><a class="edit_course" style="cursor: pointer;" data-id="${id_number}" data-category="${data['course_detail']['category']}" data-active="${data['course_detail']['active']}" data-course_id="${data['course_detail']['id']}" data-title="${data['course_detail']['title']}" data-description="${data['course_detail']['description']}" data-url="${data['course_detail']['url']}""><i class="fas fa-pen"></i></a></td>
                        <td><a class="delete_course" style="cursor: pointer; color:red;" data-category="${data['course_detail']['category']}" data-course_id="${data['course_detail']['id']}"><i class="fas fa-trash"></i></a></td>
                    `
                    $(`#tr_${id_number}`).empty().append(body_div);
                    $(`#tr_${id_number}`).attr('id', `tr_${data['course_detail']['id']}`);
                },
                error: function (data){
                    alert('Something went wrong.');
                },
            });
        });

        $(document).on("click", ".close_edit_course", function (event) {
            //
        });
        $(document).on("click", ".edit_course", function (event) {
            var body_div = `
                <td><a href="/manage/course/${$(this).data("course_id")}">${$(this).data("course_id")}</a></td>
                <td>
                    <select id="category_${$(this).data("course_id")}">
                        <option value="">Please select a category</option>
                        <option value="AI-ML">AI-ML</option>
                        <option value="Backend">Backend</option>
                        <option value="Blockchain">Blockchain</option>
                        <option value="Business Analyst">Business Analyst</option>
                        <option value="C++">C++</option>
                        <option value="Cyber Security">Cyber Security</option>
                        <option value="Designer">Designer</option>
                        <option value="DevOps">DevOps</option>
                        <option value="Discovery">Discovery</option>
                        <option value="Finance">Finance</option>
                        <option value="Flask">Flask</option>
                        <option value="Frontend">Frontend</option>
                        <option value="HR">HR</option>
                        <option value="Marketing">Marketing</option>
                        <option value="PM">PM</option>
                        <option value="Project Management">Project Management</option>
                        <option value="Proposal Writing">Proposal Writing</option>
                        <option value="Python">Python</option>
                        <option value="QA">QA</option>
                        <option value="Quality Analyst">Quality Analyst</option>
                        <option value="Rust">Rust</option>
                        <option value="Technical Copywriter">Technical Copywriter</option>
                        <option value="Training">Training</option>
                        <option value="Training &amp; Development">Training &amp; Development</option>
                    </select>
                </td>
                <td><input type="text" id="title_${$(this).data("course_id")}" value="${$(this).data("title")}"></td>
                <td><textarea style="height: 30px;" id="description_${$(this).data("course_id")}">${$(this).data("description")}</textarea></td>
                <td>
                    <select id="active_${$(this).data("course_id")}">
                        <option value="True">True</option>
                        <option value="False">False</option>
                    </select>
                </td>
                <td><input type="url" id="url_${$(this).data("course_id")}" value="${$(this).data("url")}"></td>
                <td><button data-course_id="${$(this).data("course_id")}" data-id=${$(this).data("id")} class="update_course">Update</button></td>

            `
            //<td><button data-id="${$(this).data("course_id")}" class="close_edit_course">Close</button></td>
            $(`#tr_${$(this).data("course_id")}`).empty().append(body_div);
            $(`#category_${$(this).data("course_id")}`).val($(this).data("category"));
            $(`#active_${$(this).data("course_id")}`).val(capitalizeFirstLetter($(this).data("active").toString()));
        });


        $(document).on("click", ".update_course", function (event) {
            var course_id = $(this).data("course_id");
            var title = $(`#title_${course_id}`).val();
            var category = $(`#category_${course_id}`).val();
            var active = $(`#active_${course_id}`).val();
            var description = $(`#description_${course_id}`).val();
            var url = $(`#url_${course_id}`).val();
            var body_div = `
                <td><a href="/manage/course/${course_id}">${course_id}</a></td>
                <td>${category}</td>
                <td>${title}</td>
                <td>${description}</td>
                <td>${active}</td>
                <td title="${url}">${url.slice(0, 20)}</td>
                <td><a class="edit_course" style="cursor: pointer;" data-category="${category}" data-id="${$(this).data("id")}" data-course_id="${course_id}" data-title="${title}" data-description="${description}" data-url="${url}""><i class="fas fa-pen"></i></a></td>
                <td><a class="delete_course" style="cursor: pointer; color:red;" data-id="${course_id}"><i class="fas fa-trash"></i></a></td>
            `
            $(`#tr_${course_id}`).empty().append(body_div);

            var form_data = new FormData();
            form_data.append("title", title);
            form_data.append("category", category);
            form_data.append("description", description);
            form_data.append("active", active);
            form_data.append("url", url);
            $.ajax({
                url: `/manage/course/${course_id}` , // point to server-side URL
                cache: false,
                contentType: false,
                processData: false,
                data:form_data,
                type: 'PUT',
                success: function (data) {
                    console.table(data);
                },
                error: function (data){
                    alert('Something went wrong.');
                },
            });
        });

        $(document).on("click", ".delete_course", function (event) {
            var flag = confirm("Are you sure?");
            if (flag){
                var course_id = $(this).data("course_id");
                $(`#tr_${course_id}`).remove();
                var form_data = new FormData();
                $.ajax({
                    url: `/manage/course/${course_id}` , // point to server-side URL
                    cache: false,
                    contentType: false,
                    processData: false,
                    data:form_data,
                    type: 'DELETE',
                    success: function (data) {
                        console.table(data);
                        alert('ok');
                    },
                    error: function (data){
                        alert('Something went wrong.');
                    },
                });
            }
        });

    </script>
</html>